//
// Images classes
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.rectangle-large{
	height: 400px;
}
.rectangle{
	height: 250px;
}

.bg-image-home{ background-image: url('img/volvo-home.png'); }
.bg-image-nosotros{ background-image: url('img/003.png'); }
.bg-image-servicios{ background-image: url('img/002.png'); }
.bg-image-flotilla{ background-image: url('img/flotilla.png'); }
.bg-image-cobertura{ background-image: url('img/kw900.png'); }
.bg-image-contacto{ background-image: url('img/contacto.png'); }
.bg-image-contacto-form{ background-image: url('img/002.png'); }

//.bg-image-home{ background-image: url('img/001.jpg'); }
//.bg-image-home{ background-image: url('img/123.jpg'); }
//.bg-image-nosotros{ background-image: url('img/IMAGEN1.png'); }
//.bg-image-servicios{ background-image: url('img/IMAGEN2.png'); }
//.bg-image-flotilla{ background-image: url('img/IMAGEN1.png'); }
//.bg-image-cobertura{ background-image: url('img/IMAGEN3.png'); }
//.bg-image-contacto{ background-image: url('img/Camiones-1024x768.jpg'); }